/*可以将p换成h1*/
p::before{
	content: "终于找到你，";
}
/*可以将body也换成h1*/
body::after{
	content: "依依不舍离开你，";
}
p::first-line{
	background-color: yellow;
}
p::first-letter{
	font-size: 30px;
}
p::selection{
	background-color: red;
}