p{
	/*color: rgb(238,130,238);*/
	/*direction: ltr;*/
	letter-spacing: 10px;
	line-height: 50px;
	/*text-align: justify;*/
	/*text-decoration: line-through;*/
	/*text-shadow: 5px 5px 5px red;*/
	text-transform: uppercase;
	text-indent: 30px;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	font-family: 隶书;
}

ul{
	/*list-style-type: circle;
	list-style-position: outside;
	list-style-image: url("image/headLogo/1.gif");*/
	list-style: outside url("image/headLogo/9.gif");
}
ol{
	list-style-type: lower-latin;
}