div{
	width: 100px;
	height: 100px;
}
.div1{
	background-color: red;
}
.div2{
	background-color: green;
}
.div3{
	background-color: blue;
}
.div0{
	height: 300px;
	right: 5px;
	position: relative;
	float: right;
	top:20px;
}
