*{
	padding: 0px;
	margin: 0px;
}
body {
    font-size: 14px;
  
}

.header{
	margin:25px auto 0 80px;
	width: 1200px;
}

.header .menu ul{

	display: none;
	list-style: none;
	
}

.header .menu .menu_title{
	 border-bottom: 1px solid black;
	 padding-bottom: 20px;
	 width: 80px;
	 text-align: center;
}

a{
	text-decoration: none;
	color: black;
}

.header .menu ul li{
	margin-top: 20px;
	text-align: center;
}
.header .logo{
	float: left;
	position: relative;
}

.header .menu{
	float: left;
	position: relative;
	margin-top:12px;
	margin-left:16px;

}
.header .auth {
	margin-top:12px;
    float: right;

}
.header .auth ul li {
    float: left;
    margin-right: 50px;
    list-style: none
 
 }

